<p>I can create quiz here</p>
<form id = "quizInit">
    <h1><label for = "quizTitle">Quiz Title</label></h1>
    <input name = 'quizTitle' type = "text" id = "quizTitle">

    <ol name = 'questionList' id = "questionList">


    </ol>
    <a href="/quizEditPost/quizCreate" id = "mcAdd">Add Multiple Choice Question</a>


    <button type = "submit">Post Quiz</button>
</form>
