<!-- display relevant lesson list -->

<h1 id="studentHeading" hidden>Recently Viewed</h1>
<h1 id="instructorHeading" hidden>My Lessons</h1>

<ul>
	{{#each lessonList}}
		<li><a href="/lesson/{{this.id}}">{{this.name}}</a></li>
	{{/each}}
</ul>