<div class='flex-container'>

    <form class='flex-child' id='login-form' method='post' action='/login/studentlogin'>
        <h1 id='title'>Student Login</h1>
        {{StudentError}}
        <br />
        <br />
        <label for='username' id='subtitle'>Username</label>
        <br />
        <input type='text' id='username' name='username' />
        <br />
        <br />
        <br />
        <label for='password' id='subtitle'>Password</label>
        <br />
        <input type='password' id='password' name='password' />
        <br />
        <br />
        <br />
        <a href='signup' id='subtitle'>Need to register? Click here!</a>
        <br />
        <br />
        <br />
        <button type='submit' id='login-Button'>Submit</button>
    </form>

    <form class='flex-child' id='login-form' method='post' action='/login/instructorlogin'>
        <h1 id='title'>Instructor Login</h1>
        {{InstructorError}}
        <br />
        <br />
        <label for='username' id='subtitle'>Username</label>
        <br />
        <input type='text' id='username' name='username' />
        <br />
        <br />
        <br />
        <label for='password' id='subtitle'>Password</label>
        <br />
        <input type='password' id='password' name='password' />
        <br />
        <br />
        <br />
        <a href='signup' id='subtitle'>Need to register? Click here!</a>
        <br />
        <br />
        <br />
        <button type='submit' id='login-Button'>Submit</button>
    </form>

</div>