<div class='flex-container'>

    <form class='flex-child' id='login-form' method='post' action='/login/studentlogin'>
        <h1 class='title'>Student</h1>
        <br />
        <br />
        <label for='username' class='subtitle'>Username</label>
        <br />
        <input type='text' id='username' name='username' />
        <br />
        <br />
        <br />
        <label for='password' class='subtitle'>Password</label>
        <br />
        <input type='password' id='password' name='password' />
        <br />
        <br />
        <br />
        <button type='submit' id='login-Button'>Submit</button>
        <br />
        <br />
        <br />
    </form>

    {{StudentError}}

    <form class='flex-child' id='login-form' method='post' action='/login/instructorlogin'>
        <h1 class='title'>Instructor</h1>
        <br />
        <br />
        <label for='instructorUsername' class='subtitle'>Username</label>
        <br />
        <input type='text' id='instructorUsername' name='instructorUsername' />
        <br />
        <br />
        <br />
        <label for='instructorPassword' class='subtitle'>Password</label>
        <br />
        <input type='password' id='instructorPassword' name='instructorPassword' />
        <br />
        <br />
        <br />
        <button type='submit' id='login-Button'>Submit</button>
        <br />
        <br />
        <br />
    </form>

    {{InstructorError}}

</div>
<br />
<br />
<br />
<a href='/signup' class='subtitle center'>Need to register? Click here!</a>