<div class='flex-container'>
    <a href='/quizEditPost/quizCreate'>New Quiz</a>

    <ul id='quizzes'>
        {{#each quizzes}}
            <li><a href='/quizEditPost/quizEdit/{{this.id}}'>{{this.name}}</a></li>
        {{/each}}
    </ul>
</div>