 <div>
        <h1>Student Sign up</h1>

        <form id = "login-form" method = "post" action = "/login">
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
            <label for="password">Password</label>
            <input type="text" id="password" name="password">
            <a href="login">Click here to go back to login page</a>
            <button type="submit" id="signUp-Button">Submit</button>
        </form>

        {{StudentError}}


        <h1>Instructor Signup</h1>

        <form id = "login-form" method = "post" action = "/login">
            <label for="instructorUsername">Username</label>
            <input type="text" id="instructorUsername" name="instructorUsername">
            <label for="instructorPassword">Password</label>
            <input type="text" id="instructorPassword" name="instructorPassword">
            <a href="signup">Click here to go back to login page</a>
            <button type="submit" id="signUp-Button">Submit</button>
        </form>

        {{InstructorError}}

    </div>
