<div class='flex-container'>

    <form id='login-form' method='post' class='flex-child' action='/signup/studentSignup'>
        <h1 class='title'>Student</h1>
        <br />
        <br />
        <label for='firstName' class='subtitle'>First Name</label>
        <br />
        <input type='text' id='firstName' name='firstName' />
        <br />
        <br />
        <br />
        <label for='lastName' class='subtitle'>Last Name</label>
        <br />
        <input type='text' id='lastName' name='lastName' />
        <br />
        <br />
        <br />
        <label for='email' class='subtitle'>Email</label>
        <br />
        <input type='text' id='email' name='email' />
        <br />
        <br />
        <br />
        <label for='username' class='subtitle'>Username</label>
        <br />
        <input type='text' id='username' name='username' />
        <br />
        <br />
        <br />
        <label for='password' class='subtitle'>Password</label>
        <br />
        <input type='password' id='password' name='password' />
        <br />
        <br />
        <br />
        <button type='submit' id='signUp-Button'>Submit</button>
        <br />
        <br />
        <br />
    </form>

    {{StudentError}}

    <form id='login-form' method='post' class='flex-child' action='/signup/instructorSignup'>
        <h1 class='title'>Instructor</h1>
        <br />
        <br />
        <label for='instructorFirstName' class='subtitle'>First Name</label>
        <br />
        <input type='text' id='instructorFirstName' name='instructorFirstName' />
        <br />
        <br />
        <br />
        <label for='instructorLastName' class='subtitle'>Last Name</label>
        <br />
        <input type='text' id='instructorLastName' name='instructorLastName' />
        <br />
        <br />
        <br />
        <label for='instructorEmail' class='subtitle'>Email</label>
        <br />
        <input type='text' id='instructorEmail' name='instructorEmail' />
        <br />
        <br />
        <br />
        <label for='instructorUsername' class='subtitle'>Username</label>
        <br />
        <input type='text' id='instructorUsername' name='instructorUsername' />
        <br />
        <br />
        <br />
        <label for='instructorPassword' class='subtitle'>Password</label>
        <br />
        <input type='password' id='instructorPassword' name='instructorPassword' />
        <br />
        <br />
        <br />
        <button type='submit' id='signUp-Button'>Submit</button>
        <br />
        <br />
        <br />
    </form>

    {{InstructorError}}

</div>
<br />
<a href='/login' class='subtitle center'>Click here to go back to login page!</a>
<br />
<br />
<br />