<div class='flex-container'>
    <h1>Student Update</h1>

    <form id='update-form' method='post' action='/settings/studentUpdate'>
        <div>
            <label for='studentFirstName'>First Name</label>
            <input type='text' id='studentFirstName' name='studentFirstName' />
        </div>

        <div>
            <label for='studentLastName'>Last Name</label>
            <input type='text' id='studentLastName' name='studentLastName' />
        </div>

        <div>
            <label for='studentEmail'>Email</label>
            <input type='text' id='studentEmail' name='studentEmail' />
        </div>

        <div>
            <label for='studentUsername'>Username</label>
            <input type='text' id='studentUsername' name='studentUsername' />
        </div>

        <div>
            <label for='studentPassword'>Password</label>
            <input type='password' id='studentPassword' name='studentPassword' />
        </div>

        <a href='/'>Click here to go back to home page</a>
        <button type='submit' id='update-login-button'>Submit</button>
    </form>
    <form id='delete-form' method='post' action='/settings/studentDelete'>
        <button type='submit' id='delete-account-button'>Delete Account</button>
    </form>

    {{StudentError}}

</div>