<table>
    <tr>
        <th>Quiz Name</th>
        <th>Quiz Grades</th>
    </tr>

    <main id = "gradeslist">
    {{#if getAllQuizData}}
        {{#each getAllQuizData}}
            <td>{{this.quizName}}</td>
            <td>{{this.grades}}</td>
        {{/each}}
    {{/if}}
</main>
</table>

