body {
    font-family: sans-serif;
}

.lessonTitle {
    font-size: 30px;
}

textarea {
    font-family: sans-serif;
    resize: none;
}

#tags li {
	list-style-type: none;
}

#tags li:hover {
	color: #eb4034;
}